# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

reports/